<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="id.geekgarden.esi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    error error <application
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_louncher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
      tools:replace="android:label">
        <activity
            android:name=".splash.SplashScreen"
            android:theme="@style/mainStyle">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/mainStyle"
          android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".listtiket.ListTiket"
            android:label="@string/title_activity_list_tiket"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
          android:name=".listtiket.activityticketstaff.DetailInstrumentForm"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailShipping"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
            android:name=".listtiket.activityticketstaff.DetailOpenTiket"
            android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait">
        </activity>
        <activity
          android:name=".listtiket.activityticketsupervisor.DetailOpenTiketSpv"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.OpenTiketOtherActivity"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailOnProgressInstallAnalyzer"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailOnProgressInstallHclab"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.OpenTiketServiceActivity"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.AddSparepart"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailSparepart"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailOnProgressNew"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailOnProgressHold"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".sabaactivity.SabaActivity"
          android:windowSoftInputMode="stateHidden"
          android:theme="@style/AppTheme"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".sabaactivity.DetailSabaActivity"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".sabaactivity.TambahSabaActivity"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".smom.SmOmActivity"
          android:theme="@style/AppTheme"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listprojects.ListProjects"
          android:theme="@style/AppTheme"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".profile.ProfileActivity"
          android:theme="@style/AppTheme"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailConfirmedTiket"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailPmIt"
          android:screenOrientation="portrait"/>
    <activity
      android:name=".listtiket.activityticketstaff.DetailOnProgressVisitIT"
      android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.Sparepart"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailOnProgresvisitPmOther"
          android:windowSoftInputMode="stateHidden"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailEnded"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailOnHold"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".listtiket.activityticketstaff.DetailDialihkan"
          android:screenOrientation="portrait"/>
        <activity
          android:name=".MainActivity"
          android:label="@string/title_activity_login"
          android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service
            android:name=".notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>